**/plugin.xml_gen
**/bin/
**/obj/
**/target/
**/tmp/
**/.settings/
**/MANIFEST.MF_gen
**/.DS_Store*
**/.metadata
**/runtimeInfo
**/workspace
**.~vsdx
**.~*#
**._trace
**/Thumbs.db
**/.Rhistory
**/.RData
output/output*.csv
.pydevproject
deps/
diagrams/
results/
__pycache__/
solutions/NMF.sln
solutions/.vs/
changes/1024/
