**/plugin.xml_gen
**/obj/
**/target/
**/tmp/
**/.settings/
**/MANIFEST.MF_gen
**/.DS_Store*
**/.metadata
**/runtimeInfo
**/workspace
**.~vsdx
**.~*#
**._trace
**/Thumbs.db
**/.Rhistory
**/.RData
output/output*.csv
.pydevproject
deps/
diagrams/
results/
__pycache__/
solutions/NMF.sln
solutions/.vs/
changes/1024/
/.project
/output-benchmark_2018-06-29/
/diagrams-nmf/
/diagrams-run1/
/diagrams_nmf_vs_yamtl/
/20180821_diagrams/
