<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated social_network -->
      <package
            uri="https://www.transformation-tool-contest.eu/2018/social_media"
            class="SocialNetwork.SocialNetworkPackage"
            genModel="model/social_network.genmodel"/>
   </extension>

</plugin>
