<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/EMFSolutionXtend/src/ttc2018/LiveContestDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="ChangePath" value="../../models/1"/>
<mapEntry key="ChangeSet" value="1"/>
<mapEntry key="Query" value="Q1"/>
<mapEntry key="RunIndex" value="Debug"/>
<mapEntry key="Sequences" value="20"/>
<mapEntry key="Tool" value="EMFSolutionXtend"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ttc2018.LiveContestDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="EMFSolutionXtend"/>
</launchConfiguration>
