<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Research.Naiad" version="0.5.0-beta" targetFramework="net471" />
  <package id="Microsoft.Research.Naiad.DifferentialDataflow" version="0.5.0-beta" targetFramework="net471" />
  <package id="Microsoft.Research.Naiad.GraphLINQ" version="0.5.0-beta" targetFramework="net471" />
  <package id="Microsoft.Research.Naiad.Lindi" version="0.5.0-beta" targetFramework="net471" />
  <package id="NMF-Basics" version="2.0.126" targetFramework="net471" developmentDependency="true" />
  <package id="NMF-Expressions" version="2.0.126" targetFramework="net471" developmentDependency="true" />
  <package id="NMF-Layering" version="2.0.126" targetFramework="net471" developmentDependency="true" />
  <package id="NMF-Repository" version="2.0.126" targetFramework="net471" developmentDependency="true" />
  <package id="NMFSolution" version="1.0.0" targetFramework="net471" />
  <package id="NMF-Utilities" version="2.0.126" targetFramework="net471" developmentDependency="true" />
</packages>